@import url('https://fonts.googleapis.com/css?family=Darker+Grotesque|Nunito&display=swap');
body{
    overflow-x: hidden;
}

#panel-page{
    min-height: 100vh;
    overflow-x: hidden;
}

.text-blue{
    color: #41478b !important;
    font-weight: bold;
}

.card{
    -webkit-box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
}

.range-text{
    font-size: 13px;
}

.color-previewer{
    width:25px;
    height: 25px;
    border: 1px solid black;
}

.btn-xs{
    padding: 1px 5px !important;
    font-size: 12px !important;
    line-height: 1.5 !important;
    border-radius: 3px !important;
}

.btn-danger:disabled{
    background-color: gray !important;
    border-color: darkgray !important;
}

.sidebar {
    background-color: #181818;
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
    z-index: 1001;
    width: 240px;
    padding-top: 0px;
    min-height: 100%;
    transition: 0.05s ease-in;
}

.sidebar .sidebar-brand {
    margin-top: 25px;
}

.sidebar .sidebar-brand .small-icon{
    display: none;
    width: 35px;
}

.sidebar .sidebar-brand .icon{
    display: block;
}

.sidebar .sidebar-brand img{
    width: 180px;
}

.sidebar .nav-link .nav-text{
    margin-bottom: 10px;
    padding-left: 15px;
    font-size: 16px;
    font-weight: normal;
    color: #a0a0a0 !important;
    font-family: 'Darker Grotesque', sans-serif;
}

.sidebar .nav-link .nav-text:hover{
    color: #626262 !important;
}

.sidebar .separator{
    width: 75%;
    text-align: center;
    border-top-color: #c8c8c8 !important;
}

.sidebar ul svg{
    color: white !important;
    margin-right: 5px;
}

.content-container{
    background-color: rgb(241, 242, 247);
    min-height: 100%;
    padding: 0px;
    margin: 0;
    width: 100%;
}

.content-container .top-content{
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
}

.content-container .top-content .profile{
    margin-right: 15px;
}

.content-container .top-content .profile .profile-pic{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.content-container .top-content .profile p{
    margin: 0;
    margin-left: 5px;
    margin-right: 5px;
}

.topbar-divider{
    border: 0;
    margin: 0;
    height: 20px;
    border-right: 1px solid black !important;
}

.breadcrumb{
    background-color: rgb(241, 242, 247) !important;
}

.breadcrumb h1{
    font-size: 20px;
}

.content-container #home .user-informations{
    width: 75%;
    margin: auto;
}

.content-container #home .user-informations .profile-pic{
    width: 25%;
}

.content-container #home .user-informations .profile-pic img{
    border: 1px solid black;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-top: 5px;
}

.content-container #home .user-informations .informations{
    width: 75%;
}

.content-container #home .user-informations .informations{
    width: 50%;
}

.content-container #home .user-informations .informations #username{
    font-size: 25px;
}

.content-container #home .user-informations .informations li{
    margin-bottom: 10px;
}

.content-container .card .card-header, .content-container .card .card-body{
    font-family: 'Nunito', sans-serif !important;
}

.content-container .card .card-header{
    background-color: #f8f9fc !important;
    border-bottom: 1px solid #e3e6f0;
    font-size: 18px;
}

.content-container #configuration .card .card-body{
    color: #858796;
}

.content-container #configuration .card .card-header p{
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-family: 'Nunito', sans-serif !important;
}

.content-container #configuration .card .card-header a{
    color: #343a40 !important;
    font-size: 14px;
}

.content-container #configuration .card .card-header a:hover{
    color: #616a75 !important;
}

.content-container #download .card .card-header{
    background-color: #343a40 !important;
    border-bottom: 1px solid #36414c;
}

.content-container #download .card{
    background-color: #343a40;
    color:white;
}

.content-container #download .card .card-body, .content-container #subscription .card .card-body{
    padding: 0;
    padding-bottom: 15px;
}

.content-container #download .features-list{
    margin-left: 15px;
    font-family: 'Nunito', sans-serif;
}

.content-container #download .btn-dark{
    background-color: #262b30;
}

.content-container #subscription table th{
    text-transform: uppercase;
    font-size: 14px;
}

.content-container #subscription table td{
    font-size: 13px;
}

.content-container #subscription table td .btn{
    font-size: 13px;
}

.content-container #subscription .avertissement{
    padding: 5px;
    padding-left: 15px;
    text-align: center;
}


.progress{
    border: 1px solid lightgray;
    width: 70%;
}
.text-green{
    color: green !important;
}

@media (max-width: 1000px){
    .sidebar {
        width: 50px;
    }
    .nav-text{
        display: none;
    }

    .content-container #home .user-informations .profile-pic img{
        width: 80px;
        height: 80px;
        margin-top: 15px;
    }

    .sidebar ul svg{
        margin-bottom: 15px;
    }

    .sidebar ul svg:hover{
        color: #a0a0a0 !important;
    }

    .sidebar .sidebar-brand .small-icon{
        display: block;
    }

    .sidebar .sidebar-brand .icon{
        display: none;
    }

    .content-container #home .user-informations .informations li{
        font-size: 15px;
    }
}

@media (max-width: 724px){
    .content-container #home .user-informations .informations #username{
        font-size: 20px;
        margin-bottom: 5px;
    }
    .content-container #home .user-informations .profile-pic img{
        width: 60px;
        height: 60px;
        margin-top: 15px;
    }
}