@import url('https://fonts.googleapis.com/css?family=Roboto|Montserrat&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}

a{
    color: white !important;
}

.link{
    color: red !important;
}

.link:hover{
    color: darkred !important;
}

a:hover{
    color: #c8c8c8 !important;
}

.g-recaptcha, #g-recaptcha{
    display: inline-block;
}

.toast-container{
    position:fixed;
    z-index: 9999999;
    top:80px;
    right: 20px;
}

.toast-container .toast{
    opacity: .9;
    color:white;
    box-shadow: 0 0 12px #222730;
    border-radius: 3px;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    width: 250px;
}

.toast-container .toast:hover{
    opacity: .95;
}

.toast-container .toast .toast-body svg{
    font-size: 20px !important;
    margin-right: 3px;
    justify-content: center;
}

.toast-container .toast .toast-body p{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 2px;
}

.toast-container .toast.toast-error{
    background-color: #BD362F;
}

.toast-container .toast.toast-success{
    background-color: #51A351;
}

.toast-container .toast.toast-info{
    background-color: #4894ff;
}

body{
    line-height: 1.0 !important;
}

section{
   width: 100%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.8) url(assets/img/header-line.png) no-repeat 50% 100%;
    padding: 10px 0 11px;
    z-index: 10;
}
header .navbar{
    padding: 10px;
    width:60%;
    font-family: 'Montserrat', sans-serif;
}

header .navbar-brand img{
    width:120px;
}

header .nav-item .nav-link{
    text-transform: uppercase;
    color: white !important;
}

header .nav-item.active .nav-link, header .nav-item .nav-link:hover{
    color: #c8c8c8 !important;
}

.bg-container{
    position: relative;
}

.bg-container .bg{
    z-index: -3;
}

.bg-container .top-border-img{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;
}

.bg-container .bg, .top-border-img{
    vertical-align: top;
    width: 100%;
    height: auto;
}

.content{
    width: 100%;
    min-height: 150px;
    margin-top: 80px;
    margin-bottom: 120px;
}

#price .description{
    margin-bottom: 35px;
}

#price #price-content .price{
    box-shadow: 0 5px 15px 0 rgba(204, 204, 204, 0.8);
    margin-bottom: 15px;
}

#price #price-content .price .title{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.82);
    width: 100%;
    color: white !important;
    padding: 5px;
    margin-bottom: 10px;
}

#price #price-content .price-link{
    color: black !important;
}

#price #price-content .price-link:hover{
    text-decoration: none;
    transform: scale(1.1);
}

#price #price-content .price .title h2{
    font-size: 20px;
}

#price #price-content .price .text-price{
    background: #f6f6f6;
    padding: 3px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

#price #price-content .ul-custom li{
    margin-bottom: 5px;
    margin-top: 5px;
}

ul.ul-custom{
    list-style: none;
    padding-inline-start: 0;
    text-align: center;
}


.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

footer{
    margin-top: -50px;
    color: #a2a2a2;
    background-color: #1d1d1d;
    padding-bottom: 20px;
    width: 100%;
    z-index: -3;
}

footer #footer-decor{
    width: 100%;
}

footer #footer-content{
    padding-top: 15px;
}

footer #footer-content #logo{
    width: 50%;
    margin-bottom: 15px;
    background-color: #1d1d1d;
}

footer #footer-content .icon{
    margin-left: 25px;
}

@media (max-width: 992px){
    header .navbar{
        padding: 5px;
        width:100%;
    }
    header {
        background: rgba(21, 21, 21, 0.98) url(assets/img/header-line.png) no-repeat 50% 100%;
    }
    .navbar-toggler{
        font-size: 16px !important;
    }

    .bg-container{
        margin-top: 60px;
    }
}

@media (max-width: 500px) {
    h1{
        font-size: 20px !important;
    }
    h2{
        font-size: 19px !important;
    }
}


